// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$background: #3C2F2F;
$primary: #7A8B53;
$secondary1: #D2B48C;
$secondary2: #C7CEB2;
$secondary3: #ECE2D0;
$btn-hover: #808000;
$text-dark: #2D2D2D;
$text-white: #ffffff;
$warning: #FF4136;

$family-title: 'Bebas Neue', sans-serif;
$family-text: 'Arial', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here