@import 'custom';

h1, h2, h3, h4 {
  font-family: $family-title;
  font-weight: 700;
  margin: 0;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2.3em;
}
h4 {
  font-size: 1.5em;
}
p {
  font-family: $family-text;
  font-size: 1em;
  margin: 0;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto; 
  background-color: $background;
}
main {
  flex-grow: 1;
  margin: 0; 
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  width: 100%; 
}
header, footer {
  max-width: 1440px;
  width: 100%;
  justify-content: space-between;
}
.logo{
  max-width: 100px;
  width: 100%;
  max-height: 100px;
  height: 100%;
  margin: 0;
  padding: 0;
}
.nav-link {
  color: $text-white;
  font-family: $family-title;
  font-size: 2em;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: $secondary1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.nav-link:hover::after {
  transform: scaleX(1);
  background-color: $primary;
}
.navbar .container-fluid {
  max-width: 1440px;
  display: flex;
  align-items: flex-end;
}
.legal {
  font-family: $family-text;
  font-size: 0.85em;
  margin: 5px;
}
.footer-line {
  max-width: 900px;
  width: 100%;
  height: 1px;
  color: white;
  margin: 20px 0;
  justify-self: center;
}
.footer-container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;

}
.list-unstyled {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-contacts {
  padding: 5px;
}
.footer-contacts h4 {
  text-decoration: underline;
  font-size: 1.7em;
}
footer p {
  font-size: 0.85em;
  margin: 0;
}

// 404 PAGE
.error-image {
  max-width: 200px;
  width: 200px;
  max-height: 100%;
  height: 100%;
  margin: 20px;
  padding: 0;
}

// LEGAL PAGE
.legal-content {
  max-width: 900px;
  width: 100%;
  background-color: $secondary1;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.legal-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.legal-icon{
  width: 60px; 
  height : 60px;
  margin-right: 10px;
}

// HOME PAGE
.heroarea {
  background-image: url('../img/band_welcome.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  max-height: 900px;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.heroarea-content{
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 20px;
  align-items: flex-end;
  justify-content: center;
  margin-top: 70px;
}
.welcome-text{
  max-width: 900px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  padding: 20px;
  margin: 20px;
  background-color: $secondary1;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 7px solid white;
}
@media (max-width: 990px) {
  .mobile-image {
    display: none;
  }
}
.welcome-searchbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 20px;
  padding: 20px;
  background-color: $secondary2;
  border-radius: 10px;
  border: 7px solid white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: translateY(25%);
}
.searchbar-inputs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}
.inputs{
  font-family: $family-text;
  width: 200px;
  height: 40px;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: $secondary3;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
  padding-left: 10px;
}
.inputs:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
}
.label-inputs{
  font-family: $family-title;
  font-size: 2.3em;
  font-weight: 700;
}
.searchbar-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label-filters{
  font-family: $family-title;
  font-size: 1.5em;
  font-weight: 700;
}
.welcome-searchbar-content{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 10px;
}
.searchbar-form{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.btn-info{
  background-color: transparent;
  background-image: url('../img/info.png');
  background-size: cover; 
  background-position: center; 
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  padding: 5px;
}
.btn-info:hover {
  background-color: transparent;
  transform: scale(1.05);
  transition: 0.3s;
}




// MULTIPLE USES FOR PAGES
.hero-image {
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  max-height: 800px;
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
}
.form-label{
  font-family: $family-title;
  font-size: 1.5em;
  font-weight: 700;
  padding: 0;
  margin: 10px 0 0 5px;
}
.form-control{
  font-family: $family-text;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: $secondary3;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: $secondary1;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-family: $family-title;
  font-size: 1.5em;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.05em;
  color: black;
  transform: translateY(-5px);
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: black;
  stroke-width: 2;
  transform: translateX(-5px);
  transform: translateY(-10px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: #E9C46A;
}
.cta:hover svg {
  transform: translateX(0);
  transform: translateY(-10px);
}
.cta:active {
  transform: scale(0.95);
}


// CONTACT PAGE
.contact-container{
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.contact-form{
  max-width: 1000px;
  width: 100%;
  background-color: $secondary1;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  transform: translateY(-10%);
}
.contact-submit{
  margin-top: 20px;
  align-content: center;
  display: flex;
}
.contact-submit .cta:before{
  background-color: $primary;
}

// SIGNIN PAGE
.signin-container{
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.signin-form{
  max-width: 1000px;
  width: 100%;
  background-color: $secondary1;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  transform: translateY(-10%);
}
.signin-submit{
  margin-top: 20px;
  align-content: center;
  display: flex;
}
.signin-submit .cta:before{
  background-color: $primary;
}
.redirect-signup{
  color: black;
  font-family: $family-text;
  font-size: 0.8em;
}

// SIGNUP PAGE
.signup-container{
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.signup-form{
  max-width: 1000px;
  width: 100%;
  background-color: $secondary1;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  justify-content: center;
  transform: translateY(-10%);
}
.signup-submit{
  margin-top: 20px;
  align-content: center;
  display: flex;
}
.signup-submit .cta:before{
  background-color: $primary;
}
.redirect-signin{
  color: black;
  font-family: $family-text;
  font-size: 0.8em;
}
.passwordNeeds{
  font-family: $family-text;
  font-size: 0.8em;
  margin: 0 0 0 5px;
}

// PASSED TRIPS PAGE
.passedtrips-container{
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.carrousel-passedtrips{
  background-color: $secondary2;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.passedtrips-searchbar-title{
  display: flex;
  flex-direction: row;
}
.passedtrips-searchbar button{
  margin-left: 10px;
}
.form-select-passedtrips{
  max-width: 250px;
  width: 100%;
  font-family: $family-text;
}
.carrousel-passedtrips-content{
  margin: 10px;
  gap: 10px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
}
.card-passedtrips{
  background-color: $secondary1;
  border: 7px solid white;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 5px;
  width: 350px;
}
.card-passedtrips-title{
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.passedtrips-image{
  width: 35px;
  height: 35px;
  margin-left: 5px;
  background-color: transparent;
  align-items: center;
}
.card-passedtrips-body{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.card-passedtrips-info{
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.icon-info-trips{
  width: 20px;
  height: 20px;
  margin: 5px;
  background-color: transparent;
}
.info-trips{
  display: flex;
  flex-direction: row;
}
.info-trips span{
  font-family: $family-text;
  font-size: 1em;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.card-passedtrips-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  margin: 5px;
}
.btn-details-trips{
  background-color: $secondary2;
  width: 110px;
  height: 100%;
  padding: 5px;
  align-items: center;
  justify-content: center;
  font-family: $family-title;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.btn-details-trips:hover {
  background-color: $primary;
  transform: scale(1.05);
  transition: 0.3s;
}
.icon-previous, .icon-next{
  justify-content: center;
  display: flex;
  padding: 0;
  margin: 5px;
}


// TRIPS BOOKED PAGE
.tripsbooked-container{
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.carrousel-tripsbooked{
  background-color: $secondary2;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.tripsbooked-searchbar-title{
  display: flex;
  flex-direction: row;
}
.tripsbooked-searchbar button{
  margin-left: 10px;
}
.form-select-tripsbooked{
  max-width: 250px;
  width: 100%;
  font-family: $family-text;
}
.carrousel-tripsbooked-content{
  margin: 10px;
  gap: 10px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-tripsbooked{
  background-color: $secondary1;
  border: 7px solid white;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding: 5px;
  width: 350px;
}
.card-tripsbooked-title{
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.tripsbooked-image{
  width: 35px;
  height: 35px;
  margin-left: 5px;
  background-color: transparent;
  align-items: center;
}
.card-tripsbooked-body{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.card-tripsbooked-info{
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.card-tripsbooked-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
}
.btn-cancel-trips{
  background-color: $warning;
  width: 110px;
  height: 100%;
  padding: 5px;
  align-items: center;
  justify-content: center;
  font-family: $family-title;
  font-size: 1.5em;
  font-weight: 700;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.btn-cancel-trips:hover {
  background-color: $primary;
  transform: scale(1.05);
  transition: 0.3s;
}